L4again/WindowsFormsApp1/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FtoC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="F" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FtoCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FtoCResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CtoF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="C" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CtoFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CtoFResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Data">
        <s:complexType />
      </s:element>
      <s:element name="DataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Afis">
        <s:complexType />
      </s:element>
      <s:element name="AfisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AfisResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConvertMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tr" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConvertMoneyResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="FtoCSoapIn">
    <wsdl:part name="parameters" element="tns:FtoC" />
  </wsdl:message>
  <wsdl:message name="FtoCSoapOut">
    <wsdl:part name="parameters" element="tns:FtoCResponse" />
  </wsdl:message>
  <wsdl:message name="CtoFSoapIn">
    <wsdl:part name="parameters" element="tns:CtoF" />
  </wsdl:message>
  <wsdl:message name="CtoFSoapOut">
    <wsdl:part name="parameters" element="tns:CtoFResponse" />
  </wsdl:message>
  <wsdl:message name="DataSoapIn">
    <wsdl:part name="parameters" element="tns:Data" />
  </wsdl:message>
  <wsdl:message name="DataSoapOut">
    <wsdl:part name="parameters" element="tns:DataResponse" />
  </wsdl:message>
  <wsdl:message name="AfisSoapIn">
    <wsdl:part name="parameters" element="tns:Afis" />
  </wsdl:message>
  <wsdl:message name="AfisSoapOut">
    <wsdl:part name="parameters" element="tns:AfisResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertMoneySoapIn">
    <wsdl:part name="parameters" element="tns:ConvertMoney" />
  </wsdl:message>
  <wsdl:message name="ConvertMoneySoapOut">
    <wsdl:part name="parameters" element="tns:ConvertMoneyResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FtoC">
      <wsdl:input message="tns:FtoCSoapIn" />
      <wsdl:output message="tns:FtoCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CtoF">
      <wsdl:input message="tns:CtoFSoapIn" />
      <wsdl:output message="tns:CtoFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Data">
      <wsdl:input message="tns:DataSoapIn" />
      <wsdl:output message="tns:DataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Afis">
      <wsdl:input message="tns:AfisSoapIn" />
      <wsdl:output message="tns:AfisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertMoney">
      <wsdl:input message="tns:ConvertMoneySoapIn" />
      <wsdl:output message="tns:ConvertMoneySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtoC">
      <soap:operation soapAction="http://tempuri.org/FtoC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CtoF">
      <soap:operation soapAction="http://tempuri.org/CtoF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Data">
      <soap:operation soapAction="http://tempuri.org/Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Afis">
      <soap:operation soapAction="http://tempuri.org/Afis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertMoney">
      <soap:operation soapAction="http://tempuri.org/ConvertMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtoC">
      <soap12:operation soapAction="http://tempuri.org/FtoC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CtoF">
      <soap12:operation soapAction="http://tempuri.org/CtoF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Data">
      <soap12:operation soapAction="http://tempuri.org/Data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Afis">
      <soap12:operation soapAction="http://tempuri.org/Afis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertMoney">
      <soap12:operation soapAction="http://tempuri.org/ConvertMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44376/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44376/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>